[submodule "Assembli"]
	path = Assembli
	url = https://github.com/40021441054102/Assembli.git
[submodule "Algorithms"]
	path = Algorithms
	url = https://github.com/40021441054102/Algorithms.git
[submodule "OS-Lab"]
	path = OS-Lab
	url = https://github.com/40021441054102/OS-Lab.git
[submodule "QSSL/qb"]
	path = QSSL/qb
	url = https://github.com/QSSLibrary/qb.git
[submodule "QSSL/CelestialObjects"]
	path = QSSL/CelestialObjects
	url = https://github.com/QSSLibrary/CelestialObjects.git
[submodule "QSSL/QSSL-Project"]
	path = QSSL/QSSL-Project
	url = https://github.com/QSSLibrary/QSSL-Project.git
[submodule "Software-Engineering"]
	path = Software-Engineering
	url = https://github.com/40021441054102/Software-Engineering.git
